body {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightcoral;
  text-align: center;
  margin: 0;
  height: 5rem;
  padding-top: 1rem;
}

/* #coffee-list li a:hover {
  font-weight: bold;
  color: green;
  text-decoration: none;
} */

a:hover {
  font-weight: bold;
  color: green;
  text-decoration: none;
}

article {
  padding-left: 2rem;
  text-align: center;
}

#coffee-info div {
  padding-bottom: 2rem;
}
